body {
    margin: 0px;
}

.center, .button, .footer, .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header {
    /*height:6.67%; original way*/

    /*we can use flex: instead of flex-grow:*/
    /*flex-grow:1;*/
    flex: 1 0px;
     /*problemy (tipa esli udalish element) s flex, esli ne ukazal basis, po default basis = razmeram elemntov vnutri, 
    i vse delenie mesta mezhdu flex dobavlyaetsya k basis. esli udalyaesh element iznutri, eto original dobavlenie ischezaet, budut nepravilnye
    proporcii mezhdu flex. nado iznachalno stavit basis 0*/
    font-size: large;
    background: LIGHTPINK;
}

.body{
    flex: 13 0px;
    display: flex;
    flex-direction: row;
    /*height:86.66%;*/
}

.left{
    background: RED;
    flex: 1 0px;
}

.center{
    background: GREEN;
    width: 960px;
}

.right{
    background: BLUE;
    flex: 1 0px;
}

.button{
    font-size: medium;
    background: WHITE;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.footer{
    flex: 1 0px;
    /*height:6.67%;*/
    font-size: small;
    background: GREY;
}